#### Unity Ignores
Library
ProjectSettings/EditorBuildSettings.asset

#### Custom Ignores
*.csproj
*.unityproj
*.sln
*.userprefs
Temp
Temp.meta
Builds

#### General Solution Ignores
*.suo
*.log
*.manifest
*.user
*.userprefs
*.pidb
*.DS_Store
obj
*.pyc
*.pyc.meta
